@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-foreground: #D1D9E3;
  --color-bg: #161A1D;
  --color-bgSecondary: #252836;
  --color-border: #383C40;
  --color-accent: #FFDF20;
  --color-turquoise: #00E2F4;
  --color-turquoiseDark: #004a58;
  --color-khaki: #F0E68C;
  --color-grayDark: #65646B;
  --color-dialogPanel: #3f3f46;
  --color-shadowCard: #2C343B;
  --breakpoint-bp520: 520px;
  --breakpoint-bp480: 480px;
  --breakpoint-bp896: 896px;
  --font-geist-sans: 'Geist', sans-serif;
  --font-nanum: 'Nanum Myeongjo', sans-serif;

}

@layer utilities {
  .grid-cols {
    @apply grid grid-cols-1 gap-8 bp480:grid-cols-2 bp480:gap-4 md:gap-8 lg:grid-cols-3 xl:grid-cols-4
  }

  h1 {
    @apply w-full text-2xl md:text-3xl font-bold text-turquoise text-center mt-2 sm:mt-4 lg:mt-8 mb-6 sm:mb-8 lg:mb-12
  }
}

body {
  background: var(--color-bg);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

:focus-visible:not(input[type="search"]) {
  outline: 2px solid #f3ac40;
  outline-offset: 2px;
  border-radius: 0.25rem;
}

input[type="search"]:focus-visible {
  outline: none;
}

/* custom link in clerk user menu */
.cl-button__custom-menutItem-0 {
  color: var(--color-turquoise) !important;
}