@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-foreground: #D1D9E3;
  --color-bg: #161A1D;
  --color-bgSecondary: #252836;
  --color-border: #383C40;
  --color-accent: #FFDF20;
  --color-accentSecondary: #00CADB;
  --color-accentSecondary-dark: #00ABBA;
  --color-dark-gray: #65646B;
  --breakpoint-bp520: 520px;
  --breakpoint-bp480: 480px;
  --font-geist-sans: 'Geist', sans-serif;
  --font-nanum: 'Nanum Myeongjo', sans-serif;

}

@layer utilities {
  .grid-cols {
    @apply grid grid-cols-1 gap-8 bp480:grid-cols-2 bp480:gap-4 md:gap-8 lg:grid-cols-3 xl:grid-cols-4
  }
}

body {
  background: var(--color-bg);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}