@import "tailwindcss";

@theme {
  --color-light-gray: #D1D9E3;
  --color-dark-gray: #94A3B8;
  --color-border: #383C40;
  --color-bg: #161A1D;
  --color-bgSecondary: #252836;
  --color-blue: #7CBAFD;
  --color-yellow: #FFDF20;
}

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nanum: var(--font-nanum);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-bg);
  color: var(--color-light-gray);
  font-family: Arial, Helvetica, sans-serif;
}